langgraph==1.2.8
deepagents==0.6.12
langsmith==0.9.8
langchain-google-genai==4.2.7
requests==2.34.2
mercantile==1.2.1
haversine==2.9.0
pillow==12.3.0
numpy==2.3.1
mapbox-vector-tile==2.2.0
python-dotenv==1.2.2
pymongo==4.16.0
pyshp==2.3.1
shapely==2.1.2
